In [2]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt

In [3]:
s = pd.Series([1,3,np.nan, np.nan,5,7])

In [4]:
s

0    1.0
1    3.0
2    NaN
3    NaN
4    5.0
5    7.0
dtype: float64

In [6]:
dates = pd.date_range('20130101',periods=6)

In [7]:
dates

DatetimeIndex(['2013-01-01', '2013-01-02', '2013-01-03', '2013-01-04',
               '2013-01-05', '2013-01-06'],
              dtype='datetime64[ns]', freq='D')

In [8]:
df = pd.DataFrame(np.random.randn(6,4),index=dates,columns=list('ABCD'))

In [9]:
df

                   A         B         C         D
2013-01-01 -0.594143 -2.235629  0.854704  1.070058
2013-01-02 -0.641338 -2.385754 -0.671344  0.962038
2013-01-03 -0.538012  0.222522  1.692921  0.295631
2013-01-04 -0.745054 -0.162340 -0.183405 -1.423269
2013-01-05  0.533066 -0.729360 -2.041917  0.090048
2013-01-06  0.321179 -1.019385  0.299076 -0.625536

In [11]:
df2 = pd.DataFrame({ 'A' : 1,
                    'B' : pd.Timestamp('20130102'),
                    'C' : pd.Series(1,index=list(range(4)),dtype='float32'),
                    'D' : np.array([3] * 4,dtype='int32'),
                    'E' : 'foo' })

In [13]:
df2

   A          B    C  D    E
0  1 2013-01-02  1.0  3  foo
1  1 2013-01-02  1.0  3  foo
2  1 2013-01-02  1.0  3  foo
3  1 2013-01-02  1.0  3  foo

In [14]:
df2.dtypes

A             int64
B    datetime64[ns]
C           float32
D             int32
E            object
dtype: object

In [15]:
df.index

DatetimeIndex(['2013-01-01', '2013-01-02', '2013-01-03', '2013-01-04',
               '2013-01-05', '2013-01-06'],
              dtype='datetime64[ns]', freq='D')

In [16]:
df.head()

                   A         B         C         D
2013-01-01 -0.594143 -2.235629  0.854704  1.070058
2013-01-02 -0.641338 -2.385754 -0.671344  0.962038
2013-01-03 -0.538012  0.222522  1.692921  0.295631
2013-01-04 -0.745054 -0.162340 -0.183405 -1.423269
2013-01-05  0.533066 -0.729360 -2.041917  0.090048

In [17]:
df.tail(3)

                   A         B         C         D
2013-01-04 -0.745054 -0.162340 -0.183405 -1.423269
2013-01-05  0.533066 -0.729360 -2.041917  0.090048
2013-01-06  0.321179 -1.019385  0.299076 -0.625536

In [18]:
df.index

DatetimeIndex(['2013-01-01', '2013-01-02', '2013-01-03', '2013-01-04',
               '2013-01-05', '2013-01-06'],
              dtype='datetime64[ns]', freq='D')

In [19]:
df.columns

Index([u'A', u'B', u'C', u'D'], dtype='object')

In [20]:
df.values

array([[-0.59414326, -2.23562869,  0.8547041 ,  1.0700577 ],
       [-0.64133785, -2.38575435, -0.67134421,  0.96203772],
       [-0.53801248,  0.22252227,  1.69292127,  0.29563134],
       [-0.74505353, -0.16233988, -0.18340512, -1.42326857],
       [ 0.53306565, -0.72935983, -2.04191692,  0.09004792],
       [ 0.32117872, -1.01938454,  0.29907583, -0.62553604]])

In [21]:
df.describe()

              A         B         C         D
count  6.000000  6.000000  6.000000  6.000000
mean  -0.277384 -1.051658 -0.008328  0.061495
std    0.553994  1.067796  1.291456  0.955023
min   -0.745054 -2.385754 -2.041917 -1.423269
25%   -0.629539 -1.931568 -0.549359 -0.446640
50%   -0.566078 -0.874372  0.057835  0.192840
75%    0.106381 -0.304095  0.715797  0.795436
max    0.533066  0.222522  1.692921  1.070058

In [24]:
df.mean()

A   -0.277384
B   -1.051658
C   -0.008328
D    0.061495
dtype: float64

In [25]:
df.count()

A    6
B    6
C    6
D    6
dtype: int64

#### Transpose data

In [28]:
df.T

   2013-01-01  2013-01-02  2013-01-03  2013-01-04  2013-01-05  2013-01-06
A   -0.594143   -0.641338   -0.538012   -0.745054    0.533066    0.321179
B   -2.235629   -2.385754    0.222522   -0.162340   -0.729360   -1.019385
C    0.854704   -0.671344    1.692921   -0.183405   -2.041917    0.299076
D    1.070058    0.962038    0.295631   -1.423269    0.090048   -0.625536

In [33]:
df.sort_index()

                   A         B         C         D
2013-01-01 -0.594143 -2.235629  0.854704  1.070058
2013-01-02 -0.641338 -2.385754 -0.671344  0.962038
2013-01-03 -0.538012  0.222522  1.692921  0.295631
2013-01-04 -0.745054 -0.162340 -0.183405 -1.423269
2013-01-05  0.533066 -0.729360 -2.041917  0.090048
2013-01-06  0.321179 -1.019385  0.299076 -0.625536

In [36]:
df.sort_index(axis=1, ascending=False)

                   D         C         B         A
2013-01-01  1.070058  0.854704 -2.235629 -0.594143
2013-01-02  0.962038 -0.671344 -2.385754 -0.641338
2013-01-03  0.295631  1.692921  0.222522 -0.538012
2013-01-04 -1.423269 -0.183405 -0.162340 -0.745054
2013-01-05  0.090048 -2.041917 -0.729360  0.533066
2013-01-06 -0.625536  0.299076 -1.019385  0.321179